.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.55s ease;
    background: rgb(221, 144, 89);
}

.dropdown.active{
    max-height: 200px;
}

.dropdown li{
    padding: 10px;
    list-style: none;
    text-align: right;
}

.menu-button{
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(221, 144, 89);
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
}

.drop{
    margin-left: 1350px;
    margin-top: -350px;
}

.dropdown{
    position: absolute;
    top: 70px;
    left: 1300px;
}

.setting-item{
    display: flex;
    align-items: center;
}

.setting-item span{
    margin-left: auto;
    white-space: nowrap;
}

.switch input{
    display: none;
}

.switch{
    position: relative;
    width: 40px;
    height: 20px;
    margin-left: -88px;
}

.slider{
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.slider::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider{
    background-color: rgb(82, 140, 74)
}

.switch input:checked + .slider::before{
    transform: translateX(20px);
}