@keyframes scanningAnim{
    0%, 100% { top: 1%; opacity: 0.5; }
    50% { top: 99%; opacity: 1; }
}

@keyframes pulseAnim{
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.5); opacity: 0.5;}
    100% {transform: scale(1); opacity: 1;}
}

.scannerContainer{
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 90;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.scannerContainer .null::after{
    background: rgb(0, 49, 97, 0.6);
}

.scannerContainer.success::after{
    background: rgba(119, 221, 119, 0.6);
}

.scannerContainer.failure::after{
    background: rgba(255, 105, 97, 0.6);
}

.viewFinder{
    position: relative;
    width: 80%;
    height: 70%;
    border: 2px solid rgba(0, 255, 204, 0.2);
    z-index: 50;
}

.scannerContainer.failure .viewFinder{
    border: 2px solid rgba(255, 105, 97, 0.5);
}

.scannerContainer.success .viewFinder{
    border: 2px sold rgba(107, 182, 107, 0.5);
}

.Corner{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}

.scannerContainer.failure .Corner{
    border: 2px solid #ff6961;
    box-shadow: 0 0 10px #ff6961;
}

.scannerContainer.success .Corner{
    border: 2px solid #77dd77;
    box-shadow: 0 0 10px #77dd77;
}

.BottomLeft{ top: -2px; left: -2px; border-right: 0; border-bottom: 0; }

.BottomRight{ top: -2px; right: -2px; border-left: 0; border-bottom: 0; }

.TopLeft{ bottom: -2px; left: -2px; border-right: 0; border-top: 0; }

.TopRight{ bottom: -2px; right: -2px; border-left: 0; border-top: 0; }

.scanningLine{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #00ffcc;
    box-shadow: 0 0 15px #00ffcc;
    animation: scanningAnim 3s ease-in-out infinite;
    z-index: 51;
}

.scannerLabel{
    z-index: 50;
}

.pulsingDot{
    width: 20px;
    height: 20px;
    background: #00ffcc;
    display: inline-block;
    margin-right: 10px;
    animation: pulseAnim 2s infinite;
    z-index: 51;
}

.scannerContainer.failure .pulsingDot{
    background: #ff6961;
}

.scannerContainer.success .pulsingDot{
    background: #77dd77;
}

.scannerButton{
    width: 9vw;
    height: 10vh;
    position: relative;
    border-radius: 50%;
    border-width: 5px;
    background-color: rgba(0, 255, 204, 0.6);
    border-color: rgba(138, 255, 232, 0.7);
    z-index: 200;
}

.scannerButton:active{
    background-color: rgba(0, 255, 204, 0.5);
    border-color: rgba(138, 255, 232, 0.6);
}

.backButton{
    width: 90%;
    max-width: 48px;
    height: 90%;
    max-height: 48px;
    background-image: url('../welcome/assets/BackArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 1;
}

.scannerContainer .DC::after{
    background: transparent;
}

.scannerContainer.DC .viewFinder{
    border: transparent;
}

.scannerContainer.DC .pulsingDot{
    background: transparent;
}

.scannerContainer.DC.scannerLabel{
    color: transparent;
}

.scannerButton.dc.backButton{
    opacity: 0;
}